<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <style>
        body {
          background-color: #000000;
          color: #FFFFFF;
          font-family: 'Courier New', Courier, monospace;
          font-size: 14px;
          line-height: 1.5;
          padding: 20px;
        }

        pre {
          overflow-x: auto;
        }

        code {
          display: block;
          background-color: #1E1E1E;
          padding: 10px;
          border-radius: 5px;
        }

        a {
            color: #00FFFF;
        }
    </style>
</head>
<body>
    <h1>Welcome to my Flask App!</h1>
    <p>Click <a href="{{ url_for('records') }}">here</a> to view records.</p>
    <p>Click <a href="{{ url_for('create') }}">here</a> to create a record.</p>
</body>
</html>